<doctype html>
<title>Add Word</title>
<h2>Add User</h2>
<form method="post" action="/add">
    <dl>
   		<p>
			<input name="sn" value="" type="text" placeholder="sn" autocomplete="off" required>
		</p>
		<p>
			<input name="word1" value="" type="text" placeholder="word1" autocomplete="off" required>
		</p>
		<p>
			<input name="word2" value="" type="text" placeholder="word2" autocomplete="off" required>
		</p>
		<p>
			<input name="fullword" value="" type="text" placeholder="fullword" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
